<p style="color: green"><%= notice %></p>

<h1><%= t('book.books') %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div calss="index-item">
      <%= render book %>
      <p>
        <%= link_to t('book.show'), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
<%= link_to t('book.new'), new_book_path %>
</nav>

<p>
  <%= link_to "English", url_for(locale: :en) %> |
  <%= link_to "日本語", url_for(locale: :ja) %>
</p>
